@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
  }

  .dark {
    --background: 9 9 11;
    --foreground: 255 255 255;
  }
}

@layer base {
  * {
    font-family: "Outfit", sans-serif;
  }
  body {
    @apply bg-white dark:bg-zinc-950 text-zinc-900 dark:text-zinc-50;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
